
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.reset-password-container {
    background-color: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}


h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: #4CAF50;
}
